.bk-list {
	list-style: none;
	position: relative;
	width: 533px; /* 13 books * 40px + 13 books * margin (1px) */
	margin: 0 auto;
	-webkit-perspective: 1800px;
	perspective: 1800px;
	-webkit-perspective-origin: 50% 15%;
	perspective-origin: 50% 15%;
    z-index: 1;
}

.bk-list li {
	position: relative;
	width: 40px;
	height: 400px;
	float: left;
	z-index: 1;
	margin: 0px 0px 0px 1px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.bk-list li:last-child {
	margin-right: 0;
}

.book-shelf {
	width: 100%;
	height: 63px;
	z-index: -1;
	margin-top: -25px;
	background: transparent url(../../../assets/resources/3d-book-images/shelf.png) no-repeat center center;
	position: relative;
    z-index: 0;
}