/*
 * _table_pagination.module.css
 *
 * This file contains styles for table and pagination components.
 */

.tableContainer {
  overflow-x: auto;
  border: var(--border-size-1) solid var(--border-color); /* 外部边框 */
  composes: rounded-md shadow-md from "../_utils.module.css";
}

.table {
  min-width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  /* border-top: var(--border-size-1) solid var(--border-color); */
  border-bottom: var(--border-size-1) solid var(--border-color);
  white-space: nowrap;
}

.tableHeaderCell {
  padding: var(--size-1) var(--size-1);
  text-align: center;
  font-size: var(--font-size-m1);
  font-weight: var(--font-weight-3);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  /* border-right: var(--border-size-1) solid var(--border-color); */
}

.tableBody {
  /* background-color: white; */
}

.tableRow {
  border-bottom: var(--border-size-1) solid var(--border-color);
  white-space: nowrap;
}

.tableRow:last-child {
  border-bottom: none;
}

.tableCell {
  padding: var(--size-0) var(--size-0);
  white-space: nowrap;
  font-size: var(--font-size-m1);
}

.tableCellTextSecondary {
  color: #6b7280;
}

/* pagination component */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--size-2);
}

.paginationButton {
  padding: var(--size-0) var(--size-0);
  cursor: pointer;
  border: none;
  font-weight: var(--font-weight-1);
  background-color: oklch(var(--color-primary));
  composes: rounded-md from "../_utils.module.css";
}

.paginationButton:hover:not(:disabled) {
  background-color: oklch(var(--color-primary2));
}

.paginationButton:disabled,
.disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
}

.paginationStatus {
  color: oklch(var(--color-foreground));
}
