.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  /* background-color: #f5f5f5; */
}

.empty {
  text-align: center;
  padding: 20px;
  color: #777;
}
