.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.btnSpace {
  margin-top: 8px;
}
